.rat-in-maze {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #121212;
}

.rat-in-maze__row {
  display: flex;
}

.rat-in-maze__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #e5e5e5;
  font-size: 2rem;
  color: #e5e5e5;
  user-select: none;
}